::ng-deep .coordonnees .form_group {
    display: grid;
    grid-template-columns: 0fr 6fr 2fr;
}

::ng-deep .coordonnees.warning .form_group {
    grid-template-columns: 30px 1fr;
}

.data_coordonnee .container_bouton_coordonees {
    display: flex;
    justify-content: flex-end;

    button {
        margin-left: 10px;
    }
}

.coordonnees.warning .icon.i_alerte {
    color: var(--alert);
}

.coordonnees .container_coordonnee {
    display: grid;
    grid-template-columns: 40px 1fr;
    border-bottom: 2px solid var(--fond-de-page);

    .data_coordonnee {
        padding-left: 15px;
        padding-right: 15px;
        
        span {
            font-size: 16px;
            font-weight: var(--main-font-weight-semibold);
        }
        
        .container_radio {
            margin-left: 8px;
        }
    }

    .border_icon_coordonnee {
        background-color: var(--gris-clair-2);
        color: var(--bg-title-blocks);
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }
}
