<div class="carte" *ngIf="personne" (click)="openFiche(personne.uuid)">
    <div class="carte_content">
        <div class="carte_titre bandeau_personne bandeau_personne_{{personne.type}} icon user" *ngIf="personne.pp_uuid">
            <h2>{{ personne.prenom  |titlecase }} {{personne.nom |uppercase}}</h2>
        </div>
        <div class="carte_titre bandeau_personne bandeau_personne_{{personne.type}} icon building"
             *ngIf="personne.pm_uuid && !personne.pp_uuid">
            <h2>{{personne.raisonSociale |uppercase}} ({{personne.formeJuridiqueLibelle |uppercase}})</h2>
        </div>
        <div class="carte_sous_titre {{personne.type}}" *ngIf="personne.pm_uuid && personne.pp_uuid">
            <app-fonction-sticker [statut]="personne.statut"></app-fonction-sticker>
            <p>
                {{personne.fonction}} <br/>
                {{personne.raisonSociale |uppercase}} ({{personne.formeJuridiqueLibelle |uppercase}})
            </p>
        </div>
        <div class="carte_sous_titre" *ngIf="!(personne.pm_uuid && personne.pp_uuid)">
            <app-fonction-sticker [statut]="personne.statut"></app-fonction-sticker>
        </div>
        <div class="carte_texte">
            <p *ngIf="personne.cp">{{personne.cp}} {{personne.ville}}</p>
            <p *ngIf="personne.mail"> {{personne.mail}}</p>
            <p *ngIf="personne.telephone"> {{personne.indicatifTelephone}} {{personne.telephone}}</p>
        </div>
        <app-avatar [personne]="personne"></app-avatar>
        <div class="carte_alerte" *ngIf="personne.isComplete !== '1'"
             [ngClass]="  {
                  'lien': personne.pm_uuid && personne.pp_uuid
                 }"
        >
            <fa-icon
                [icon]="faExclamationCircle"
                [classes]="['menu_' + faExclamationCircle.iconName]"
                size="lg"
            >
            </fa-icon>
            <span>Fiche incomplète !</span>
        </div>
    </div>
</div>
