.carte {
    border-radius: 0.1rem;
    box-shadow: 4px 4px 4px var(--ombre);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
    padding-bottom: 0;
}

.carte_segment {
    position: relative;
}

.carte_segment .carte_content .carte_texte {
    padding: 0 15px;
    line-height: 16px;
    margin-top: 30px;
}

.carte_texte span {
    font-size: 18px;
    font-weight: var(--main-font-weight-semibold);
    line-height: 26px;
}

.container_contact_find {
    display: flex;
    align-items: center;
    
    span {
        margin-left: 10px;
    }
}

.carte_content {
    background-color: white;
    font-weight: var(--main-font-weight-semibold);
    padding-bottom: 0;
    position: relative;
    height: 160px;
    cursor: pointer;
}

.action_carte_segment {
    display: flex;
    position: absolute;
    top: 20px;
    z-index: 999;
    right: 0;
}

.action_carte_segment .btn_border_white {
    height: 40px;
    width: 40px;
    border-radius: 23px;
    margin-right: 10px;
}

.carte_sous_titre {
    display: grid;
}

.carte_sous_titre div {
    float: left;
    margin-right: 5px;
    padding: 0 5px;
}

.carte_clear {
    clear: both;
}

.carte_alerte {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.carte_alerte fa-icon {
    margin-right: 5px;
}

::ng-deep .carte_segment .carte_content .carte_avatar {
    height: 40px;
    width: 40px;
    margin: 0 auto;
    position: relative;
    right: 10px;
    float: right;
    bottom: 10px;
}

::ng-deep .carte_segment .carte_avatar_inner.cercle_sm {
    font-size: 15px;
}

::ng-deep .carte .carte_avatar_inner {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

::ng-deep .carte .cercle_lg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

::ng-deep .carte .carte_avatar.morale.small {
    position: relative;
    float: right;
    justify-content: center;
    display: flex;
    align-items: center;
}

.select2-selection.select2-selection--multiple {
    display: flex;
    margin-bottom: 7px;
    height: 36px;
}
