.container_visibilite .choix_visibilite {
    display: flex;
    align-items: center;

    input[type="radio"] {
        height: 32px;
    }

    input[type="radio"] + label {
        font: normal normal var(--main-font-weight-semibold) 16px/22px var(--main-font-family);
        color: #3D3D3D;
    }
}

.container_visibilite .input_container {
    padding: 0 30px 25px 30px;
}

.container_visibilite .form_group {
    display: block;
}

.input_visibilite {
    top: 3px;
    right: 20px;
    position: relative;
    display: flex;

    label {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

    span {
        padding-right: 10px;
        font-size: 16px;
    }
}
