.bandeau_outils {
    min-height: 30px;
    padding: 1rem 23px 1rem 1rem;
    display: grid;
    grid-template-columns: 290px 1fr;
    
    .bloc2 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        margin-top: 3px;
        
        ng-select2 {
            width: 273px;
        }
    }
    
    .bloc1 .btn-mode-tableau {
        margin-left: 10px;
    }
}

.bloc2 .recherche-bandeau-outils {
    max-width: 273px;
    position: relative;
    margin-right: 10px;
    
    .input-selection {
        padding-left: 10px;
        border-radius: 0 !important;
        background: var(--blanc);
        color: var(--gris-fonce);
    }
}

::ng-deep .bandeau_outils .recherche-bandeau-outils input {
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 16px;
    font-weight: var(--main-font-weight-semibold);
    line-height: 22px;
    height: 32px;
}

.repertoire_creer_fiche fa-icon {
    margin-right: 5px;
}

.clear {
    clear: both;
}

::ng-deep .bandeau_outils .select2-selection.select2-selection--multiple {
    display: flex;
    align-items: center;
    padding-right: 45px;
    height: 1px;
    caret-color: transparent;
}

.bloc1.segments .btn.btn-ajouter, .bloc1.segments .btn.btn-mode-tableau {
    background-color: var(--segments);
    border: solid 2px var(--segments);
    display: inline-block;
}


.bloc1.segments .btn.btn-ajouter:hover {
    background-color: var(--blanc);
    color: var(--segments);
    border: solid 2px var(--segments);
}
