.fiche.segment {
    .fiche_gauche {
        margin-right: 30px;
        display: grid;
        grid-template-rows: 1fr;
        
        .fiche_bloc1 {
            background-color: var(--blanc);
            margin-bottom: 3px;
            
            .carte_sous_titre.lien {
                display: grid;
                grid-template-columns: 1fr 10fr;
            }
            
            .carte_sous_titre:before {
                font-size: 24px;
            }
            
            .carte_information {
                display: grid;
                grid-template-columns: 3fr 0;
                padding: 10px 25px 10px;
            }
            
            .carte_information .btn_border_white {
                height: 46px;
                width: 46px;
                border-radius: 23px;
                position: relative;
                top: -42px;
                right: 30px;
            }
            
            .carte_information .btn_border_white .btn {
                height: 42px;
                width: 42px;
            }
            
            .information .chiffres_personne {
                display: grid;
                grid-template-columns: 2fr 1fr;
            }
            
            .information .container_information {
                margin-top: 17px;
            }
            
            .information span.libelle_champ {
                font-size: 16px;
            }
            
            .information p.valeur_champ, span {
                font-size: 20px;
                font-weight: 600;
            }
            
            .carte_alerte {
                height: 25px;
                display: flex;
                font-size: 13px;
                padding-left: 20px;
                padding-top: 2px;
            }
            
            .carte_alerte:before {
                content: "\f06a";
                margin-right: 5px;
            }
            
            .btn.edition {
                border: solid 2px var(--blanc);
                justify-self: flex-end;
                position: relative;
                top: -33px;
            }
            
            .btn.edition:hover {
                border: solid 2px var(--bleu-azko);
            }
        }
        
        .fiche_bloc2 {
            background-color: var(--blanc);
            
            .content_select2 {
                ::ng-deep .select2-selection.select2-selection--multiple {
                    min-height: 48px;
                    padding-right: 5px;
                    caret-color: transparent;
                }
                
                ::ng-deep .select2.select2-container.select2-container--default {
                    padding-top: 20px;
                    margin: auto;
                    width: 100% !important;
                }
                
                ::ng-deep .select2-search__field {
                    margin-top: 9px !important;
                }
                
            }
            
            .qualite_relation {
                display: grid;
                grid-template-columns: 4fr 1fr;
                margin-top: 120px;
                padding-bottom: 20px;
            }
        }
        
        .fiche_bloc3 {
            background-color: var(--blanc);
            padding: 0 30px 0 30px;
            display: grid;
            text-align: right;
            grid-template-columns: 1fr 3fr;
            
            .bloc_actif {
                display: flex;
                align-items: center;
                height: 100%;
                
                span {
                    color: var(--repertoire-et-pp);
                    font-size: 16px;
                }
            }
            
            .icon.actif {
                margin-right: 5px;
                background-color: var(--repertoire-et-pp);
                color: white;
                border-radius: 44px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 18px;
                height: 18px;
                padding-right: 1px;
            }
            
            .icon.inactif {
                background-color: var(--alert);
            }
            
            .date_creation_fiche {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            
            .date_creation_fiche p {
                color: var(--gris-clair);
                line-height: 16px;
            }
        }
    }
    
    .fiche_droite {
        width: 75%;
        background-color: var(--blanc);
        
        .carte_information {
            padding: 30px 25px 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            
            .container_information {
                display: flex;
                justify-content: flex-start;
            }
            
            .container_action {
                display: flex;
                justify-content: flex-end;
                
                .btn {
                    margin-right: 10px;
                    display: flex;
                    white-space: nowrap;
                }
            }
        }
        
        .information {
            padding: 10px 25px 10px;
            overflow-y: auto;
            overflow-x: hidden;
            height: 79%;
    
            .contacts_find.icon::before {
                font-size: 18px;
            }
            
            .contacts_find.icon.morale::before {
                color: var(--repertoire-pm);
            }
            
            .contacts_find.icon.physique::before {
                color: var(--repertoire-et-pp);
            }
            
            .contacts_find {
                display: grid;
                grid-template-columns: 20px 210px 1fr;
            }
            
            .contacts_find .libelle_contact {
                font-size: 18px;
                font-weight: 600;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-right: 20px;
            }
            
            .contacts_find .libelle_email {
                font-size: 14px;
            }
        }
        
        .info_fiche_segment, .action_fiche_segment {
            display: flex;
            font-size: 18px;
            font-weight: 600;
        }
    }
}
