<div class="adresses warning" *ngIf="hasAdresse(adresses) === false">
    <div class="data_adresses">
        <div class="form_group">
            <div class="icon i_alerte"></div>
            <div>
                <label class="type_coordonnee">Veuillez saisir au moins une adresse</label>
            </div>
        </div>
    </div>
</div>
<div class="adresses" *ngIf="adresses">
    <div class="data_adresses">
        <div *ngFor="let adresse of adresses" class="form_group">
            <input
                    name="'adresse'"
                    (change)="onChangeRadio(adresse.uuid)"
                    type="radio"
                    [checked]="adresse.principal"
            />
            <div>
                <label class="type_adresse">{{adresse.type}}</label>
                <span *ngIf="adresse.ligne1">{{adresse.ligne1}} </span>
                <span *ngIf="adresse.ligne2">{{adresse.ligne2}} </span>
                <span *ngIf="adresse.ligne3">{{adresse.ligne3}} </span>
                <span>{{adresse.cp}} {{adresse.ville}} </span>
                <span>{{adresse.cedexCode}} {{adresse.cedexLibelle}} </span>
                <span>{{adresse.pays}}</span>

            </div>
            <div class="container_bouton_adresses">
                <button class="btn btn-picto-med btn-editer" (click)="onEditer(adresse)"></button>
                <button class="btn btn-picto-med btn-supprimer" (click)="onSupprimer(adresse.uuid)"></button>
            </div>
        </div>
    </div>
    <div class="action_bloc">
        <button class="btn btn-med btn-ajouter" (click)="onAjouter('adresseAddModal')">
            <span>Ajouter une adresse</span>
        </button>
    </div>
</div>
<jw-modal id="adresseEditModal">
    <div class="bandeau_form_modal">Editer une adresse</div>
    <app-adresses-edit-modal
            [data]="objetCourant"
            [idModal]="'adresseEditModal'"
            [edit]="false"
            (closed)="close()"
            (added)="addAdresses($event)"
    ></app-adresses-edit-modal>
</jw-modal>
<jw-modal id="adresseAddModal">
    <div class="bandeau_form_modal">Ajouter une adresse</div>
    <app-adresses-edit-modal
            [data]="objetCourant"
            [idModal]="'adresseAddModal'"
            [edit]="true"
            (closed)="close()"
            (added)="addAdresses($event)"

    ></app-adresses-edit-modal>
</jw-modal>
