.creation {
    margin: 22px auto 0 auto;
    width: 565px;
    height: 337px;
    background-color: var(--blanc);
    
    h3 {
        margin-top: 21px;
        margin-left: 30px;
        font-weight: var(--main-font-weight-semibold);
    }
    
    // présent dans app.scss
    .building, .user {
        color: var(--blanc);
        font-size: 48px;
        text-align: center;
        padding-top: 30px;
    }
}

.creation .bandeau {
    background-color: var(--repertoire-et-pp);
    display: flex;
    align-items: center;
    padding-left: 12px;
    color: white;
}

.creation .bandeau::before {
    font-size: 24px;
    margin-right: 10px;
}

.creation .badge {
    display: grid;
    width: 160px;
    height: 160px;
    background-color: var(--repertoire-et-pp);
    border-radius: 15px;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    
    a {
        color: var(--blanc);
        font-size: 24px;
        font-weight: var(--main-font-weight-semibold);
        line-height: 33px;
        text-decoration: none;
        padding-bottom: 27px;
    }
}

.creation .badge.badge_moral {
    margin-right: 60px;
    background-color: var(--repertoire-pm);
}

.creation .badge.badge_physique {
    background-color: var(--repertoire-et-pp);
}

.creation .choix_personne {
    padding-top: 37px;
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
}
