.nav-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 5px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  
  a {
    font-size: 16px;
  }
}

.home.selected, .home:hover {
  background-color: var(--bleu-azko);
}

.address-card.selected, .address-card:hover {
  background-color: var(--repertoire-et-pp);
}

.filter.selected, .filter:hover {
  background-color: var(--segments);
}

.envelope.selected, .envelope:hover {
  background-color: var(--campagnes);
}

.file-signature.selected, .file-signature:hover {
  background-color: var(--offres);
}

.chart-line.selected, .chart-line:hover {
  background-color: var(--stats);
}

// TODO : temporaire
fa-icon.disabled.home,
fa-icon.disabled.envelope,
fa-icon.disabled.file-signature,
fa-icon.disabled.chart-line {
  color: var(--gris-clair) !important;
}

.home.disabled,
.envelope.disabled,
.file-signature.disabled,
.chart-line.disabled {
  background-color: transparent;
}

.nav-item fa-icon {
  height: 50%;
  width: 50%;
  color: white;
  position: relative;
  top: 09px;
}
