<div class="carte_avatar">
    <div class="carte_avatar_inner cercle_lg texte_personne_morale">
        {{personneConnecte.prenom.substring(0, 1)}}{{personneConnecte.nom.substring(0, 1)}}
    </div>
</div>
<p class="">{{personneConnecte.prenom}} {{personneConnecte.nom | uppercase}}</p>
<a class="btn btn-med btn-mon-compte" >Mon compte</a>
<a class="btn btn-med btn-deconnexion">Me déconnecter</a>
<hr>
<div class="icon parametre_menu"></div>
<p>Paramètres du cabinet</p>
<a class="btn btn-sm btn-champs-personnalises">Champs personnalisé</a>
<a class="btn btn-sm btn-tags">Tags</a>
<a class="btn btn-sm btn-utilisateurs">Utilisateurs</a>
<a class="btn btn-sm btn-profil-utilisateurs">Profils utilisateurs</a>
