<div class="carte_avatar" *ngIf="personneConnecte">
    <div class="carte_avatar_inner cercle_lg texte_personne_morale">
        {{personneConnecte.prenom.substring(0, 1)}}{{personneConnecte.nom.substring(0, 1)}}
    </div>
</div>
<h2 class="" *ngIf="personneConnecte">{{personneConnecte.prenom}} {{personneConnecte.nom | uppercase}}</h2>
<a class="btn btn-med btn-mon-compte" >Mon compte</a>
<a class="btn btn-med btn-deconnexion">Me déconnecter</a>
<hr>
<div class="icon parametre_menu"></div>
<h2>Paramètres du cabinet</h2>
<a class="btn btn-sm btn-champs-personnalises">Champs personnalisé</a>
<a class="btn btn-sm btn-tags">Tags</a>
<a class="btn btn-sm btn-utilisateurs">Utilisateurs</a>
<a class="btn btn-sm btn-profil-utilisateurs">Profils utilisateurs</a>
