<div class="form_personne form_ajouter<">
    <notifier-container></notifier-container>
    <ngx-ui-loader></ngx-ui-loader>
    <form name="form"
          [formGroup]="form"
          #f="ngForm"
          novalidate
    >
        <div class="icon user bandeau_personne_formulaire bandeau_personne_morale">
            <h1>Nouvelle fonction</h1>
        </div>
        <div class="formulaire personne_fonction">
            <div class="container_form">
                <div class="bloc_information_generale">
                    <div class="bandeau_form">Informations générales</div>
                    <div class="input_container input_lg">
                        <label for="physique">Personne Physique</label>
                        <ng-select2 [data]="dataPhysique | async"
                                    [options]="optionsPhysique"
                                    [className]="'typeSelect'"
                                    [value]="valuePhysique"
                                    ngDefaultControl
                                    id="physique"
                                    formControlName="physique"
                                    (valueChanged)="valueChanged($event, 'physique')"
                        ></ng-select2>
                    </div>
                    <div class="input_container input_lg">
                        <label for="morale">Personne Morale</label>
                        <div [ngClass]="{'background_alert_required': !form.controls.morale.value}">
                            <ng-select2 [data]="dataMorale | async"
                                        [options]="optionsMorale"
                                        [className]="'typeSelect'"
                                        [value]="valueMorale"
                                        ngDefaultControl
                                        id="morale"
                                        formControlName="morale"
                                        (valueChanged)="valueChanged($event, 'morale')"
                            ></ng-select2>
                        </div>
                    </div>
                    <div class="input_container">
                        <label>Fonction</label>
                        <div [ngClass]="{'background_alert_required': !form.controls.fonction.value}"
                             class="input_lg"
                        >
                            <app-fonction-personne-select2
                                id="fonction_personnalisee"
                                [form]="form"
                                [id]="'fonction_personnalisee'"
                                [multiple]="false"
                                (changed)="onChangedSelect2($event, 'fonction')"
                            >
                            </app-fonction-personne-select2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form_bas">
            <button class="btn btn-med btn-fermer" (click)="onCancel()"><span>Fermer</span></button>
            <button class="btn btn-med btn-enregistrer" (click)="onSubmit()"><span>Enregistrer</span></button>
        </div>
    </form>
</div>
